/* .addSpot-mapInfo-container {
    display: table-cell;
}

.addSpot-map-container * {
    height: 100%;
}

.addSpot-map-container * .map {
    width: 45vw !important;
    height: 50%;
    margin-top: 0;
    box-sizing: border-box;

}

.spot-container > div > h2{
    padding-top: 5vh;
} */