.cardList-container {
    padding: 0 5vw;
    margin: 0 auto;
}

.cardList{
    margin: 10px 0;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    margin: 0 5%;
    padding-bottom: 10vh;
}

.cardList > * > .card {
    margin-bottom: 2rem;
}