.card {
    height: 400px;
    margin: auto;
}

.card-title {
    height: 10%;
}

.card-text {
    height: calc(70% - 1.75rem);
    overflow: hidden;
}

.card-body > a {
    height: 20%;
}

.card-container {
    margin: auto;
}