.card {
    height: 400px;
    margin: auto;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-img-top {
    transform: scale(1.2);
}

.card-title {
    height: 10%;
}

.card-text {
    height: 130px;
    overflow: hidden;
}

.card-body > a {
    height: 20%;
}

.card-container {
    margin: auto;
}

.card-image-container {
    overflow: hidden;
    height: 190px;
}

.card-img-top {
    object-fit: cover;
    transition: transform .5s ease;
    height: 190px;
}

.rating-img-card{
    height: 20px;
}

.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 15%;
}