.home-center-button {
    text-align: center;
    padding-top: 2rem;
}

.home-center-button > * > .btn {
    width: 50vh;
}
.image-gallery-container-home {
    margin: 5rem 5vw  5rem 5vw;
}

.home-map-container {
    height: 75vh;
    margin-top: 5vh;
}

@media only screen and (max-width: 700px) {
    .home-center-button > * > .btn {
        width: auto;
        padding: 0.5rem 3rem;
        margin: 5vw;
    }

    .home-center-button {
        padding-top: 0px;
    }
    
    .home-map-container {
        height: 50vh;
        margin-top: 2vh;
    }
}