.hidden {
    display: none !important;
}

.errorMessage {
    color: red;
}

.logInImg {
    height: 3rem;
    align-self: start;
    padding-top: 0.3rem;
}

.logInImg:hover {
    cursor: pointer;
}

.externalLogInContainer{
    display: flex;
    flex-direction: column;
}

.forgotten-password {
    font-size: 0.8rem;
    padding-left: 0.2rem;
    color: blue;
}

.forgotten-password:hover {
    cursor: pointer;
}

.no-margin {
    margin: 0 !important;
}