/* .mapView-container > * > .map {
    height: calc(100% - 56px) !important;
    margin-top: 56px;
} */

.mapView-container {
    margin-top: 56px;
    height: 100vh;
}

.mapView-nav-background {
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0px;
    height: 56px;
    width: 100vw;
}