.spotInfo-container {
    margin-top: 5vh;
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.options-container > .dropdown {
    margin-left:auto; 
    margin-right:0;
}