.spotInfo-container {
    margin-top: 5vh;
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.options-container > .dropdown {
    margin-left:auto; 
    margin-right:0;
}

.rating-container {
   margin: 1rem 0;
}

.rating-img {
    height: 30px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pre-line {
    white-space: pre-line;
}

.created-by {
    font-size: 0.9rem;
    text-align: end;
    margin-right: 1rem;
}

.facebook-windsensor-directions {
    display: flex;
    flex-direction: row;
}

.facebook-windsensor {
    min-width: 220px;
    word-break: break-word;
}

.windDirections-container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 700px) {
    .facebook-windsensor-directions {
        flex-direction: column;
    }
}