.spot-entry-conainer > a{
    font-size: 1.25rem;
    margin: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

td {
    min-width: 130px;
}

.clickable:hover{
    cursor: pointer;
    text-decoration: underline;
}