.spot-container {
    padding: 0 5vw;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
}

.spot-spotInfo-container {
    width: 45%;
}

.spot-map-container * .map {
    width: 45vw !important;
    height: 70% !important;
}

