.spotInfo-container {
    margin-top: 5vh;
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.options-container > .dropdown {
    margin-left:auto; 
    margin-right:0;
}

.rating-container {
   margin: 1rem 0;
}

.rating-img {
    height: 30px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.pre-line {
    white-space: pre-line;
}