.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( #1da2d8,#6bc5fd ,#1da2d8);
    background-image: linear-gradient( rgba(100, 149, 189, 1), rgba(100, 149, 189, 0.8), rgba(100, 149, 189, 1) );
    margin: 5rem 0;
    padding: 5rem 0 3rem 0;

}

.center-weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yr-btn{
    margin: 2rem 0;
}